@import "./utils/variables";
@import "./base/normalize";
@import "./components/page-header";
@import "./utils/placeholders";
@import "./utils/mixins";

body {
  background-color: $logo-color;
  font-family: Roboto;
  margin: 0;
}

.skryt {
  display: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
}

h2,
h3 {
  color: var(--primery-title-color);
}

p {
  color: var(--primery-text-color);
}

a {
  font-family: Roboto;
  text-decoration: none;
}
