.primery-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .primery-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 200px;
  }
}

.order-type {
  text-align: center;
  margin-top: 30px;

  .order {
    color: #fff;
    background-color: $logo-color;
    padding: 10px 32px;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 214px;
    cursor: pointer;
  }
}
