.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: 453px;
  height: 480px;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-site-navi {
  text-align: center;
  list-style: none;
}

.mobile-link-type {
  text-align: center;
  list-style: none;
}

.mobile-site-item:not(:last-child) {
  margin-bottom: 40px;
}
